*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1em;
}

#controls-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

button {
    padding: 1em;
}