*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-cream: #f4f1de;
    --bg-tan: #92817a;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1em;
    /* background-color: var(--bg-cream); */
}

#controls-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

button {
    padding: 1em;
    border-radius: 5px;
    border: 1px solid black;
}